* {
  box-sizing: border-box;
}

body {
  color: #595859;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 3rem;
  background-color: #00b6cb;
  -webkit-font-smoothing: antialiased;
}

.app {
  width: 100%;
  margin: 0 auto;
  display: flex;
}