* {
  box-sizing: border-box;
}

body {
  color: #595859;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 2rem;
  background-color: #00b6cb;
  -webkit-font-smoothing: antialiased;
}

.app {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
  max-width: 1000px;
}